<section [@sportInputs]="animationState" class="sport-input teal-bg">
    <p>What sports do you want to follow</p>

    <fieldset *ngFor="let sportType of sportTypes, let i = index" (click)="onToggle(i)">
        <span class="checkbox-icon-bg">
            <i class="fa fa-check check-icon" [class.inactive]="!sportType.active"></i>
        </span>
        <label>{{sportType.name}}</label>
    </fieldset>

    <div class="clearfix">
        <button (click)="onNext()">Finish</button>
    </div>
</section>