<section class="publication-input" [@publicationInput]="animationState">
  <div class="clearfix white-bg">
    <div class="left-side">
      <div class="welcome">
        <h1>Welcome to Fixture <span>beta</span></h1>
        <h2>by NewsWhip</h2>
        <p>Real time social analytics for sports publishers</p>
      </div>
    </div>

    <div class="right-side teal-bg">

      <div class="step-1">
        <form [formGroup]="publicationNameForm" (ngSubmit)="onSubmit()">

          <h2>Let's get Started</h2>

          <fieldset class="clearfix">
            <label for="publication-name">What's your organization's URL?</label>
            <input type="text" id="publication-name" class="form-control" formControlName="publicationDomain"
                   autocomplete="off" placeholder="example: cnn.com/sport">
          </fieldset>

          <div class="clearfix">
            <button class="pull-right">Next</button>
          </div>
        </form>
      </div>

    </div>
  </div>


</section>
