<section class="match-details">
  <h2>{{headline}}</h2>

  <div class="clearfix">
    <div class="treemap">
      <img src="assets/img/treemap-mock.png" alt="">
    </div>

    <div class="articles">
      <ul>
        <li *ngFor="let a of articlesData?.articles">
          <div>
            <p class="date">{{prettyTime(a.publiction_timestamp)}}</p>
            <img src="{{a.image_link}}" alt="">
            <h4>{{a.headline}}</h4>
            <!--<p>{{a.excerpt}}</p>-->
            <!--<p><a href="{{a.link}}" target="_blank">Go to article</a></p>-->
            <p>Enagagement: {{getTotalEngagement(a)}}</p>
            <p>Publisher: {{a.source.publisher}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>